@import url("https://fonts.googleapis.com/css2?family=Reem+Kufi&display=swap");
body {
	margin: 0;
	font-family: "Reem Kufi", sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
		monospace;
}

:root {
	--primary: #ffffff;
	--secondary: #000000;
	--tertiary: #2eb5e0;
	--quaternary: #ffee56;
}
